<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php">
	<testsuites>
		<testsuite name="browser">
			<directory>test/browser/tests</directory>
		</testsuite>
	</testsuites>
	<listeners>
		<!-- Note these can be called in any order -->
		<listener
			class="\halfer\SpiderlingUtils\Test\TestListenerSingleServer"
			file="test/browser/classes/TestListenerSingleServer.php"
		/>
		<listener
			class="\halfer\SpiderlingUtils\Test\TestListenerMultipleServers"
			file="test/browser/classes/TestListenerMultipleServers.php"
		/>
		<listener
			class="\halfer\SpiderlingUtils\Test\TestListenerRouterlessServer"
			file="test/browser/classes/TestListenerRouterlessServer.php"
		/>
		<listener
			class="\halfer\SpiderlingUtils\Test\TestListenerClashingServer1"
			file="test/browser/classes/TestListenerClashingServer1.php"
		/>
		<listener
			class="\halfer\SpiderlingUtils\Test\TestListenerClashingServer2"
			file="test/browser/classes/TestListenerClashingServer2.php"
		/>
	</listeners>
</phpunit>
