<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php">
	<testsuites>
		<testsuite name="browser">
			<directory>test/browser/tests</directory>
		</testsuite>
	</testsuites>
	<listeners>
		<listener
			class="\halfer\SpiderlingUtils\Test\TestListenerSingleServer"
			file="test/browser/classes/TestListenerSingleServer.php"
		/>
		<listener
			class="\halfer\SpiderlingUtils\Test\TestListenerMultipleServers"
			file="test/browser/classes/TestListenerMultipleServers.php"
		/>
		<listener
			class="\halfer\SpiderlingUtils\Test\TestListenerRouterlessServer"
			file="test/browser/classes/TestListenerRouterlessServer.php"
		/>
	</listeners>
</phpunit>
